<nav class="navbar">
  <img
    src="../../../assets/img/menu-icon.png"
    class="left-icon position-relative"
    (click)="menu.abrirMenu()"
    (keyup.space)="menu.abrirMenu()"
  />

  <img
    class="img-settings"
    src="../../../assets/img/ford.png"
    alt="Logo da Ford"
  />

  <img
    src="../../../assets/img/user-icon.png"
    class="right-icon position-relative"
    (click)="settings.abrirSettings()"
    (keyup.space)="settings.abrirSettings()"
  />
</nav>

<h2 class="mt-3 text-center text-color">Dashboard Ford</h2>

<div class="container mt-3" *ngIf="veiculos$ | async as veiculos">
  <div class="row">
    <app-cartao class="col-3" [titulo]="'Veículo'">
      <select
        class="form-control mt-3"
        type="number"
        [(ngModel)]="veiculoId"
        (ngModelChange)="enviaVeiculoId(veiculoId)"
      >
        <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo.vehicle_id">
          {{ veiculo.vehicle_model }}
        </option>
      </select>
    </app-cartao>

    <app-cartao class="col-3" [titulo]="'Total de Vendas'">
      <h2 class="text-info">
        {{ veiculoEscolhido?.vehicle_total_volume }}
      </h2>
      <p>Unid.</p>
    </app-cartao>

    <app-cartao class="col-3" [titulo]="'Conectados'">
      <h2 class="text-info">
        {{ veiculoEscolhido?.vehicle_connected }}
      </h2>
      <p>Unid.</p>
    </app-cartao>

    <app-cartao class="col-3" [titulo]="'Update Software'">
      <h2 class="text-info">
        {{ veiculoEscolhido?.vehicle_software_updates }}
      </h2>
      <p>Unid.</p>
    </app-cartao>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <img
        class="img-fluid"
        src="assets/img/{{ veiculoEscolhido?.vehicle_model }}.png"
        alt="Imagem do veículo escolhido"
      />
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header card-color"><h5>Conectados %</h5></div>
        <div class="card-body">
          <div id="chart_1" class="chart"></div>
          <div class="percentage text-color">{{ formatedConnectedRatio }}%</div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header card-color"><h5>Update Software %</h5></div>
        <div class="card-body">
          <div id="chart_2" class="chart"></div>
          <div class="percentage text-color">{{ formatedUpdatedRatio }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <app-tabela></app-tabela>
  </div>
</div>

<app-menu #menu></app-menu>
<app-settings #settings></app-settings>
