*{
  box-sizing: border-box;
}

.text-color{
  color: rgb(40, 97, 159);
}

.percentage{
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.chart{
  width: 100%;
}

.card-color{
  background-color: rgb(40, 97, 159);
  color: white;
  text-align: center;
}

app-tabela-vertical{
  display: none;
}

@media screen and (max-width: 1400px){
  app-tabela{
    display: none;
  }

  app-tabela-vertical{
    display: flex;
  }
}
