<header>
  <nav class="navbar">
    <img
      src="../../../assets/img/menu-icon.png"
      class="left-icon position-relative"
      (click)="menu.abrirMenu()"
      (keyup.space)="menu.abrirMenu()"
    />

    <img
      class="img-settings"
      src="../../../assets/img/ford.png"
      alt="Logo da Ford"
    />

    <img
      src="../../../assets/img/user-icon.png"
      class="right-icon position-relative"
      (click)="settings.abrirSettings()"
      (keyup.space)="settings.abrirSettings()"
    />
  </nav>
</header>

<h1 class="text-center text-color">Dashboard FORD</h1>

<div class="container mt-4" *ngIf="veiculos$ | async as veiculos">
  <div class="row">
    <app-cartao class="col-3" [titulo]="'Veículo'">
      <select
        class="form-control mt-3"
        type="number"
        [(ngModel)]="veiculoId"
        (ngModelChange)="enviaVeiculoId(veiculoId)"
      >
        <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo.vehicle_id">
          {{ veiculo.vehicle_model }}
        </option>
      </select>
    </app-cartao>

    <app-cartao class="col-3" [titulo]="'Total de Vendas'">
      <h2 class="text-info">
        {{ veiculoEscolhido?.vehicle_total_volume }}
      </h2>
      <p>Unid.</p>
    </app-cartao>

    <app-cartao class="col-3" [titulo]="'Conectados'">
      <h2 class="text-info">
        {{ veiculoEscolhido?.vehicle_connected }}
      </h2>
      <p>Unid.</p>
    </app-cartao>

    <app-cartao class="col-3" [titulo]="'Update Software'">
      <h2 class="text-info">
        {{ veiculoEscolhido?.vehicle_software_updates }}
      </h2>
      <p>Unid.</p>
    </app-cartao>
  </div>
</div>

<div class="container mt-2 mb-2">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <img
        class="img-fluid"
        src="assets/img/{{ veiculoEscolhido?.vehicle_model }}.png"
        alt="Imagem do veículo escolhido"
      />
    </div>
    <div class="col-3">
      <div class="title">Conectados</div>
      <div id="chart_1"></div>
      <div class="percentage">{{ formatedConnectedRatio }}%</div>
    </div>
    <div class="col-3">
      <div class="title">Update Software</div>
      <div id="chart_2"></div>
      <div class="percentage">{{ formatedUpdatedRatio }}%</div>
    </div>
  </div>
</div>

<app-tabela></app-tabela>

<app-menu #menu></app-menu>
<app-settings #settings></app-settings>
