<div class="col-6">
  <div class="col bg-color font-weight">
    Código VIN
    <button
      (click)="modalInserir.abrirModalInserir()"
      (click)="atualizarVeiculoDataSubject()"
      (keyup.space)="modalInserir.abrirModalInserir()"
    >
      <img
        class="img-settings"
        src="../../../assets/img/plus-icon.PNG"
        alt="Ícone de adicionar"
      />
    </button>
    <button
      (click)="modalAtualizar.abrirModalAtualizar()"
      (click)="atualizarVeiculoDataSubject()"
      (keyup.space)="modalAtualizar.abrirModalAtualizar()"
    >
      <img
        class="img-settings"
        src="../../../assets/img/write-icon.PNG"
        alt="Ícone de editar"
      />
    </button>
    <button
      (click)="modalDeletar.abrirModalDeletar()"
      (click)="atualizarVeiculoDataSubject()"
      (keyup.space)="modalDeletar.abrirModalDeletar()"
    >
      <img
        class="img-settings"
        src="../../../assets/img/trash-icon.PNG"
        alt="Ícone de deletar"
      />
    </button>
  </div>
  <div class="col bg-color font-weight">Odômetro</div>
  <div class="col bg-color font-weight">Nível de Combustível</div>
  <div class="col bg-color font-weight">Status</div>
  <div class="col bg-color font-weight">Lat.</div>
  <div class="col bg-color font-weight">Long.</div>
  <div class="col bg-color font-weight">Status da Bateria</div>
  <div class="col bg-color font-weight">Pressão dos Pneus</div>
</div>

<div class="col-6">
  <div class="col d-flex justify-content-center input-cell">
    <input
      class="mt-2 input-width"
      type="text"
      [formControl]="tabelaInput"
      [(ngModel)]="inputValue"
    />
  </div>
  <div *ngIf="veiculosData$ | async as veiculosData; else elseblock">
    <div *ngIf="inputValue.length == 20; else elseblock">
      <div *ngIf="veiculosData.length > 0; else elseblock">
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text"
            >{{ veiculoData.vehicledata_odometer }} Km</span
          >
        </div>
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text"
            >{{ veiculoData.vehicledata_fuel_level }}%</span
          >
        </div>
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text">{{
            veiculoData.vehicledata_status
          }}</span>
        </div>
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text">{{
            veiculoData.vehicledata_lat
          }}</span>
        </div>
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text">{{
            veiculoData.vehicledata_long
          }}</span>
        </div>
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text">{{
            veiculoData.vehicledata_battery_status
          }}</span>
        </div>
        <div
          class="col d-flex justify-content-center data-cell"
          *ngFor="let veiculoData of veiculosData"
        >
          <span class="mt-2 center-text">{{
            veiculoData.vehicledata_tire_pressure
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseblock>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
  <div class="col d-flex justify-content-center data-cell">
    <span class="mt-2 center-text">-</span>
  </div>
</ng-template>

<app-modal-inserir
  (windowClosed)="atualizarSelecao()"
  #modalInserir
></app-modal-inserir>
<app-modal-atualizar
  (windowClosed)="atualizarSelecao()"
  #modalAtualizar
></app-modal-atualizar>
<app-modal-deletar
  (windowClosed)="atualizarSelecao()"
  #modalDeletar
></app-modal-deletar>
