<nav class="navbar">
  <img
    src="../../../assets/img/menu-icon.png"
    class="left-icon position-relative"
    (click)="menu.abrirMenu()"
    (keyup.space)="menu.abrirMenu()"
  />

  <img
    class="img-settings"
    src="../../../assets/img/ford.png"
    alt="Logo da Ford"
  />

  <img
    src="../../../assets/img/user-icon.png"
    class="right-icon position-relative"
    (click)="settings.abrirSettings()"
    (keyup.space)="settings.abrirSettings()"
  />
</nav>

<div class="container">
  <h2 class="mt-4 text-color row justify-content-center">Meu perfil</h2>
  <div class="d-flex row">
    <div class="col-6">
    <app-update-form></app-update-form>
  </div>
    <div class="col-6">
    <app-password-form></app-password-form>
  </div>
  </div>

  <app-menu #menu></app-menu>
  <app-settings #settings></app-settings>
</div>
