<div [ngClass]="{ 'active-modal': mostraModalDeletar }">
  <div class="modal-deletar">
    <i
      class="fa fa-window-close menu-item"
      (click)="abrirModalDeletar()"
      (keyup.space)="abrirModalDeletar()"
    ></i>

    <h2 class="text-color">Deletar dados do veículo</h2>

    <h5 class="mt-3">Insira o código VIN do veículo que deseja deletar</h5>

    <div class="d-flex justify-content-center">
      <app-mensagem
        *ngIf="error == true"
        mensagem="Código VIN inválido"
      ></app-mensagem>
    </div>

    <div class="form-container">
      <form
        class="form mt-3 form-width"
        [formGroup]="deleteForm"
        *ngIf="veiculoData$ | async as veiculoData; else elseblock"
        (ngSubmit)="delete()"
      >
        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Código VIN"
            formControlName="vehicledata_vin"
            [ngModel]="veiculoData.vehicledata_vin"
            readonly
          />
          <app-mensagem
            *ngIf="
        deleteForm.get('vehicledata_vin')?.errors?.['required'] &&
        deleteForm.get('vehicledata_vin')?.touched
      "
            mensagem="Campo código VIN obrigatório"
          ></app-mensagem>
          <app-mensagem
            *ngIf="
        deleteForm.get('vehicledata_vin')?.errors?.['minlength'] &&
        deleteForm.get('vehicledata_vin')?.touched
      "
            mensagem="O código VIN deve possuir 20 caracteres"
          ></app-mensagem>
          <app-mensagem
            *ngIf="
        deleteForm.get('vehicledata_vin')?.errors?.['maxlength'] &&
        deleteForm.get('vehicledata_vin')?.touched
      "
            mensagem="O código VIN deve possuir 20 caracteres"
          ></app-mensagem>
        </div>
        <button
          type="submit"
          class="btn btn-secondary field-width margin"
          [disabled]="deleteForm.invalid"
        >
          Deletar
        </button>
      </form>
    </div>
  </div>

  <div class="overlay" (click)="abrirModalDeletar()"></div>
</div>

<ng-template #elseblock>
  <form
    class="form mt-3 form-width"
    [formGroup]="deleteForm"
    (ngSubmit)="delete()"
  >
    <div class="form-group mb-3 field-width m-auto">
      <input
        class="form-control"
        placeholder="Código VIN"
        formControlName="vehicledata_vin"
      />
      <app-mensagem
        *ngIf="
  deleteForm.get('vehicledata_vin')?.errors?.['required'] &&
  deleteForm.get('vehicledata_vin')?.touched
"
        mensagem="Campo código VIN obrigatório"
      ></app-mensagem>
      <app-mensagem
        *ngIf="
  deleteForm.get('vehicledata_vin')?.errors?.['minlength'] &&
  deleteForm.get('vehicledata_vin')?.touched
"
        mensagem="O código VIN deve possuir 20 caracteres"
      ></app-mensagem>
      <app-mensagem
        *ngIf="
  deleteForm.get('vehicledata_vin')?.errors?.['maxlength'] &&
  deleteForm.get('vehicledata_vin')?.touched
"
        mensagem="O código VIN deve possuir 20 caracteres"
      ></app-mensagem>
    </div>
    <button
      type="submit"
      class="btn btn-secondary field-width margin"
      [disabled]="deleteForm.invalid"
    >
      Deletar
    </button>
  </form>
</ng-template>
