<div [ngClass]="{ 'active-modal': mostraModalInserir }">
  <div class="modal-inserir">
    <i
      class="fa fa-window-close menu-item"
      (click)="abrirModalInserir()"
      (keyup.space)="abrirModalInserir()"
    ></i>

    <h2 class="text-color">Inserir dados do veículo</h2>

    <div class="d-flex justify-content-center">
      <app-mensagem
        *ngIf="error == true"
        mensagem="Código VIN já cadastrado"
      ></app-mensagem>
    </div>

    <div class="form-container">
      <form
        class="form mt-3 form-width"
        [formGroup]="insertForm"
        *ngIf="insertForm"
        (ngSubmit)="insert()"
      >
        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Código VIN"
            formControlName="vehicledata_vin"
          />
          <app-mensagem
            *ngIf="
        insertForm.get('vehicledata_vin')?.errors?.['required'] &&
        insertForm.get('vehicledata_vin')?.touched
      "
            mensagem="Campo código VIN obrigatório"
          ></app-mensagem>
          <app-mensagem
            *ngIf="
        insertForm.get('vehicledata_vin')?.errors?.['minlength'] &&
        insertForm.get('vehicledata_vin')?.touched
      "
            mensagem="O código VIN deve possuir 20 caracteres"
          ></app-mensagem>
          <app-mensagem
            *ngIf="
        insertForm.get('vehicledata_vin')?.errors?.['maxlength'] &&
        insertForm.get('vehicledata_vin')?.touched
      "
            mensagem="O código VIN deve possuir 20 caracteres"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Odômetro"
            formControlName="vehicledata_odometer"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_odometer')?.errors &&
              insertForm.get('vehicledata_odometer')?.touched
            "
            mensagem="Campo odômetro obrigatório"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Nível de Combustível"
            formControlName="vehicledata_fuel_level"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_fuel_level')?.errors &&
              insertForm.get('vehicledata_fuel_level')?.touched
            "
            mensagem="Campo nível de combustível obrigatório"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Status"
            formControlName="vehicledata_status"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_status')?.errors &&
              insertForm.get('vehicledata_status')?.touched
            "
            mensagem="Campo status obrigatório"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Latitude"
            formControlName="vehicledata_lat"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_lat')?.errors &&
              insertForm.get('vehicledata_lat')?.touched
            "
            mensagem="Campo latitude obrigatório"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Longitude"
            formControlName="vehicledata_long"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_long')?.errors &&
              insertForm.get('vehicledata_long')?.touched
            "
            mensagem="Campo longitude obrigatório"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Status da Bateria"
            formControlName="vehicledata_battery_status"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_battery_status')?.errors &&
              insertForm.get('vehicledata_battery_status')?.touched
            "
            mensagem="Campo status da bateria obrigatório"
          ></app-mensagem>
        </div>

        <div class="form-group mb-3 field-width m-auto">
          <input
            class="form-control"
            placeholder="Pressão dos pneus"
            formControlName="vehicledata_tire_pressure"
          />
          <app-mensagem
            *ngIf="
              insertForm.get('vehicledata_tire_pressure')?.errors &&
              insertForm.get('vehicledata_tire_pressure')?.touched
            "
            mensagem="Campo pressão dos pneus obrigatório"
          ></app-mensagem>
        </div>

        <button
          type="submit"
          class="btn btn-secondary field-width margin"
          [disabled]="insertForm.invalid"
        >
          Inserir
        </button>
      </form>
    </div>
  </div>

  <div class="overlay" (click)="abrirModalInserir()"></div>
</div>
