.form-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.width{
  width: 380px;
}

.img-width{
  width: 300px;
}

.text-color{
  color: rgb(40, 97, 159);
}

a{
  text-decoration: none;
}
